body {
    font-family: 'Open Sans', sans-serif;
    background-color: #000000;
    margin: 0;
    padding: 0;
    color: #fff;
    line-height: 1.6;
}
h3 {
    text-align: center;
    margin-top: 50px;
    font-size: 2.5em;
    text-transform: uppercase;
    color: #ff7bff;
    animation: fadeInDown 1s ease;
}
p {
    margin: 20px;
    font-size: 1.2em;
    text-align: center;
    animation: slideInLeft 1s ease;
}
a {
    color: #17a2b8;
    text-decoration: none;
    transition: color 0.3s ease;
}
a:hover {
    color: #007bff;
    text-decoration: underline;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-color: #000;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.experience p {
    margin-top: -20px;

}

@media (max-width: 800px) {
    .last-sentence {
        margin-bottom: 100px;

    }
  }

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}