@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body
{
    font-family: 'Open Sans', monospace;
    background-color: black;
}

h1, h3, p
{
    text-align: center;
    color: white;
}

.projects a {
    display: block;
    color: #ff7bff;
    font-size: 34px;
    text-align: center;
}